body {
  background-color:#0082c9;
} 
.wrapper {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
}
    
.form-login {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.username {
  margin-bottom: 0;
}
.btn-rounded {
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
button#login.btn.btn-rounded.btn-outline-light i.fa.fa-arrow-right {
float: right;
padding-top: 4px;

}
.footer{
  color:white;
}
